body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin-left: 10px;
    background-color: #DEDBEE;
}
header{
    padding: 10px;
    background-color: #5A3FEE;
    box-shadow: 2px 2px 4px #0000006e;
    margin: 10px;
    border-radius: 10px;
}
a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
}
a:hover{
    text-decoration: underline;
}
header > h1{
    margin-left: 10px;

}
nav{
    margin: 5px;
    background-color: #4633B2;
}
nav > a {
    margin-left: 20px;
    color: beige;
}
nav > a::before{
    content: "» ";
    font-weight: bolder;
}
main{
    background-color: #9386D9;
    margin: 10px;
    box-shadow: 2px 2px 4px #0000006e;
    border-radius: 10px;
}
article{
    padding: 10px;
    
}
section{
    background-color: #c8c4e0;
    margin: 15px;
    padding: 10px;
}
aside{
    background-color: #7261cf;
    margin: 10px;
    padding: 5px;
}
footer{
    background-color: #4D4380;
    padding: 5px;
    box-shadow: 2px 2px 4px #00000080;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}
footer > ul{
    margin-top: 0px;
    margin-bottom: 0px;
}
