body{
    font-size: 1.9em;
}
spam{
    color: rgb(42, 42, 170);
}
#depois::after{
    content: " - Conteúdo extra";
    font-weight: bold;
    color: rgb(141, 11, 11);
}
#antes::before{
    content: "Conteúdo extra - ";
    font-weight: bold;
    color: rgb(141, 11, 11);
}
div{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 2px solid black ;
}
#pr_letra::first-letter{
    color: darkviolet;
    font-size: 1.3em;
}
#pr_linha::first-line{
    color: darkviolet;
    font-size: 1.1em;
}
#seleciona::selection{
    color: rgb(35, 28, 133);
    background-color: rgba(58, 58, 58, 0.411);
}